*.class

# Package Files #
*.jar
*.war
*.ear
*.swp

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

#groovy
.groovy

# Maven
log/
logs/
target/
pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties

style-dataaccess/.groovy/suggestions.xdsl

